.content {
  margin: 0 auto;
  text-align: center;
}

.keskitys {
    max-width: 1000px;
  margin: 0 auto;
}

.hello {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  padding: 20px;
  border-style: ridge;
  background-image: url("https://images.unsplash.com/photo-1639152306957-446a29b71e8a?ixlib");
  background-size: cover;
  text-shadow:5px 5px 10px blue;
}

a:link {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}
