body {
  background-color: lightgreen;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
    color: red;
  }
}
.content {
  margin: 0 auto;
  text-align: center;
}

.keskitys {
    max-width: 1000px;
  margin: 0 auto;
}

.hello {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  padding: 20px;
  border-style: ridge;
  background-image: url("https://images.unsplash.com/photo-1639152306957-446a29b71e8a?ixlib");
  background-size: cover;
  text-shadow:5px 5px 10px blue;
}

a:link {
  color: black;
}

/* selected link */
a:active {
  color: red;
}

a {
  color:black;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
a:hover { color:red; }
