.content {
  margin: 0 auto;
  text-align: center;
}

.keskitys {
    max-width: 1000px;
  margin: 0 auto;
}
         table, th, td {
            border: 1px solid black;
            width: 100px;
            height: 50px;
         }
