.content {
  margin: 0 auto;
  text-align: center;
}

.keskitys {
    max-width: 1000px;
  margin: 0 auto;
}
         table, th, td {
            border: 1px solid red;
            width: 100px;
            height: 100px;
            padding: 10px;
            align: center;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            font-size: 10px;
            color: red;
         }
